<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byType" xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

       <!--
              poderia ser tb: <context:property-placeholder location="database-test.properties"/>
       -->

       <beans profile="test">
              <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
                     <property name="location">
                            <value>database-test.properties</value>
                     </property>
              </bean>
       </beans>

       <beans>
              <import resource="classpath:applicationContext.xml"/>
       </beans>

</beans>